@import "bootstrap";
@import "bootstrap.min";
@import "admin/sessions";
body, html {
	font-family: 'Noto Sans TC', sans-serif;
}

@import "override_bootstrap";
@import "workpieces";
@import "manufacturing_records";

@media only screen and (min-width: 900px) {
	#sidebar {
		width: 200px;
		overflow: auto;
	}
	#nav, #right {
		width: calc(100% - 200px);
	}
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
	#sidebar {
		width: 160px;
		overflow: auto;
	}
	#nav, #right {
		width: calc(100% - 160px);
	}
}

@media only screen and (max-width: 767px) {
	#nav {
		width: 100%;
		.navbar-collapse {
			margin-top: 15px;
		}
	}
}

#full_page_wrapper {
	height: 100vh;
}

#sidebar {
	background: #323232;
	.list-group .list-group-item {
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 99px;
		padding-left: 30px;
		width: auto;
		margin: 3px 10px;
		color: #ddd;
		&.disabled {
			color: #868e96;
		}
		&:hover {
			color: white;
		}
		&.active {
			color: white;
			background-color: rgba(255, 255, 255, 0.23);
		}
	}
	.logo {
		padding: 34px 12px;
		font-size: 24px;
		color: white;
	}
}

.navbar-brand {
	color: #FFA534 !important;
}

#nav {
	position: fixed;
	background-color: #f4f3ef;
	z-index: 3;
	a.nav-link {
		white-space: nowrap;
	}
}

#navbar-search-btn {
	border: 1px solid #FFA534;
	color: white;
	background: #FFA534;
	i.material-icons {
		margin-top: 3px;
	}
}

#right {
	overflow: auto;
	float: right;
	background-color: #f4f3ef;
}

#main_content {
	z-index: 2;
	position: relative;
	top: 56px;
}

#fixed-advanced-nav {
	position: absolute;
	right: 15px;
	top: 56px;
	z-index: 3;
	background-color: #f4f3ef;
	.dropdown-toggle::after {
		display:none
	}
	#adv-nav-btn {
		padding: 6px 20px;
		border-radius: 15px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		background-color: rgba(0, 0, 0, 0.3);
		i.material-icons { color: rgba(255, 255, 255, 1); }
	}
	form {
		width: 300px;
	}
}

.table-icon-btn {
	padding: 0px;
	margin: -3px 0px;
	font-size: 24px;
}